In [1]:
import pandas as pd
import numpy as np

pd.set_option("display.max_columns", None)

# 1. Load data
df = pd.read_csv("../data/raw/companies.csv")

df.head()

,id,Unnamed: 0.1,entity_type,entity_id,parent_id,name,normalized_name,permalink,category_code,status,founded_at,closed_at,domain,homepage_url,twitter_username,logo_url,logo_width,logo_height,short_description,description,overview,tag_list,country_code,state_code,city,region,first_investment_at,last_investment_at,investment_rounds,invested_companies,first_funding_at,last_funding_at,funding_rounds,funding_total_usd,first_milestone_at,last_milestone_at,milestones,relationships,created_by,created_at,updated_at,lat,lng,ROI
0,c:1,0,Company,1,NaN,Wetpaint,wetpaint,/company/wetpaint,web,operating,2005-10-17,NaN,wetpaint-inc.com,http://wetpaint-inc.com,BachelrWetpaint,http://s3.amazonaws.com/crunchbase_prod_assets...,401.0,54.0,NaN,Technology Platform Company,Wetpaint is a technology platform company that...,"wiki, seattle, elowitz, media-industry, media-...",USA,WA,Seattle,Seattle,NaN,NaN,NaN,NaN,2005-10-01,2008-05-19,3.0,39750000.0,2010-09-05,2013-09-18,5.0,17.0,initial-importer,2007-05-25 06:51:27,2013-04-13 03:29:00,47.606209,-122.332071,15.5
1,c:10,1,Company,10,NaN,Flektor,flektor,/company/flektor,games_video,acquired,NaN,NaN,flektor.com,http://www.flektor.com,NaN,http://s3.amazonaws.com/crunchbase_prod_assets...,186.0,85.0,NaN,NaN,Flektor is a rich-media mash-up platform that ...,"flektor, photo, video",USA,CA,Culver City,Los Angeles,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.0,initial-importer,2007-05-31 21:11:51,2008-05-23 23:23:14,34.021122,-118.396467,NaN
2,c:100,2,Company,100,NaN,There,there,/company/there,games_video,acquired,NaN,NaN,there.com,http://www.there.com,NaN,http://s3.amazonaws.com/crunchbase_prod_assets...,107.0,34.0,NaN,NaN,There.com is an online virtual world where any...,"virtualworld, there, teens",USA,CA,San Mateo,SF Bay,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2003-02-01,2011-09-23,4.0,12.0,initial-importer,2007-08-06 23:52:45,2013-11-04 02:09:48,37.562992,-122.325525,NaN
3,c:10000,3,Company,10000,NaN,MYWEBBO,mywebbo,/company/mywebbo,network_hosting,operating,2008-07-26,NaN,mywebbo.com,http://www.mywebbo.com,NaN,NaN,NaN,NaN,NaN,NaN,"BRAND NEW ONLINE SOCIAL NETWORKING WEBSITE,FOR...","social-network, new, website, web, friends, ch...",NaN,NaN,NaN,unknown,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2008-08-24 16:51:57,2008-09-06 14:19:18,NaN,NaN,NaN
4,c:10001,4,Company,10001,NaN,THE Movie Streamer,the movie streamer,/company/the-movie-streamer,games_video,operating,2008-07-26,NaN,themoviestreamer.com,http://themoviestreamer.com,NaN,http://s3.amazonaws.com/crunchbase_prod_assets...,200.0,74.0,NaN,NaN,This company shows free movies online on their...,"watch, full-length, moives, online, for, free,...",NaN,NaN,NaN,unknown,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2008-08-24 17:10:34,2008-09-06 14:19:18,NaN,NaN,NaN

In [2]:
df.shape, df.columns

((196553, 44),
 Index(['id', 'Unnamed: 0.1', 'entity_type', 'entity_id', 'parent_id', 'name',
        'normalized_name', 'permalink', 'category_code', 'status', 'founded_at',
        'closed_at', 'domain', 'homepage_url', 'twitter_username', 'logo_url',
        'logo_width', 'logo_height', 'short_description', 'description',
        'overview', 'tag_list', 'country_code', 'state_code', 'city', 'region',
        'first_investment_at', 'last_investment_at', 'investment_rounds',
        'invested_companies', 'first_funding_at', 'last_funding_at',
        'funding_rounds', 'funding_total_usd', 'first_milestone_at',
        'last_milestone_at', 'milestones', 'relationships', 'created_by',
        'created_at', 'updated_at', 'lat', 'lng', 'ROI'],
       dtype='object'))

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 196553 entries, 0 to 196552
Data columns (total 44 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   id                   196553 non-null  object
 1   Unnamed: 0.1         196553 non-null  int64
 2   entity_type          196553 non-null  object
 3   entity_id            196553 non-null  int64
 4   parent_id            0 non-null       float64
 5   name                 196530 non-null  object
 6   normalized_name      196527 non-null  object
 7   permalink            196553 non-null  object
 8   category_code        123186 non-null  object
 9   status               196553 non-null  object
 10  founded_at           91227 non-null   object
 11  closed_at            2620 non-null    object
 12  domain               126545 non-null  object
 13  homepage_url         126545 non-null  object
 14  twitter_username     80591 non-null   object
 15  logo_url             110110 non-null  object
 16  logo_width           110110 non-null  float64
 17  logo_height          110110 non-null  float64
 18  short_description    7131 non-null    object
 19  description          92048 non-null   object
 20  overview             126971 non-null  object
 21  tag_list             81452 non-null   object
 22  country_code         87990 non-null   object
 23  state_code           50903 non-null   object
 24  city                 83890 non-null   object
 25  region               196553 non-null  object
 26  first_investment_at  2583 non-null    object
 27  last_investment_at   2583 non-null    object
 28  investment_rounds    2591 non-null    float64
 29  invested_companies   2591 non-null    float64
 30  first_funding_at     31507 non-null   object
 31  last_funding_at      31507 non-null   object
 32  funding_rounds       31707 non-null   float64
 33  funding_total_usd    27874 non-null   float64
 34  first_milestone_at   91699 non-null   object
 35  last_milestone_at    91699 non-null   object
 36  milestones           91699 non-null   float64
 37  relationships        129667 non-null  float64
 38  created_by           155533 non-null  object
 39  created_at           196553 non-null  object
 40  updated_at           196553 non-null  object
 41  lat                  83852 non-null   float64
 42  lng                  83852 non-null   float64
 43  ROI                  726 non-null     float64
dtypes: float64(12), int64(2), object(30)
memory usage: 66.0+ MB

In [4]:
df.describe(include="all").T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
id,196553,196553,c:1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Unnamed: 0.1,196553.0,NaN,NaN,NaN,98276.0,56740.108067,0.0,49138.0,98276.0,147414.0,196552.0
entity_type,196553,1,Company,196553,NaN,NaN,NaN,NaN,NaN,NaN,NaN
entity_id,196553.0,NaN,NaN,NaN,153006.227333,90209.250941,1.0,59850.0,174539.0,232655.0,286215.0
parent_id,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
name,196530,196347,L,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN
normalized_name,196527,195451,l,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN
permalink,196553,196512,/company/bboescape,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
category_code,123186,42,software,17922,NaN,NaN,NaN,NaN,NaN,NaN,NaN
status,196553,4,operating,183441,NaN,NaN,NaN,NaN,NaN,NaN,NaN
founded_at,91227,6156,2011-01-01,3748,NaN,NaN,NaN,NaN,NaN,NaN,NaN
closed_at,2620,925,2012-01-01,176,NaN,NaN,NaN,NaN,NaN,NaN,NaN
domain,126545,125498,placeshilton.com,44,NaN,NaN,NaN,NaN,NaN,NaN,NaN
homepage_url,126545,125961,http://www.dachisgroup.com,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
twitter_username,80591,79571,Goodman_UK,20,NaN,NaN,NaN,NaN,NaN,NaN,NaN
logo_url,110110,110110,http://s3.amazonaws.com/crunchbase_prod_assets...,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
logo_width,110110.0,NaN,NaN,NaN,459.132685,594.982577,1.0,192.0,267.0,484.0,18200.0
logo_height,110110.0,NaN,NaN,NaN,222.728917,333.090722,1.0,70.0,105.0,232.0,9600.0
short_description,7131,7126,L,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
description,92048,83696,Garage Door Repair/Replacement,144,NaN,NaN,NaN,NaN,NaN,NaN,NaN
overview,126971,126515,We,40,NaN,NaN,NaN,NaN,NaN,NaN,NaN
tag_list,81452,79133,"garage-door-springs, broken-spring-repair--rep...",210,NaN,NaN,NaN,NaN,NaN,NaN,NaN
country_code,87990,175,USA,51637,NaN,NaN,NaN,NaN,NaN,NaN,NaN
state_code,50903,51,CA,16489,NaN,NaN,NaN,NaN,NaN,NaN,NaN
city,83890,10652,New York,3816,NaN,NaN,NaN,NaN,NaN,NaN,NaN
region,196553,5847,unknown,109866,NaN,NaN,NaN,NaN,NaN,NaN,NaN
first_investment_at,2583,1197,2009-01-01,33,NaN,NaN,NaN,NaN,NaN,NaN,NaN
last_investment_at,2583,1105,2012-01-01,33,NaN,NaN,NaN,NaN,NaN,NaN,NaN
investment_rounds,2591.0,NaN,NaN,NaN,2.372057,12.17351,1.0,1.0,1.0,1.0,478.0
invested_companies,2591.0,NaN,NaN,NaN,2.20494,11.436955,1.0,1.0,1.0,1.0,459.0
first_funding_at,31507,3208,2008-01-01,343,NaN,NaN,NaN,NaN,NaN,NaN,NaN
last_funding_at,31507,2978,2012-01-01,272,NaN,NaN,NaN,NaN,NaN,NaN,NaN
funding_rounds,31707.0,NaN,NaN,NaN,1.65976,1.201666,1.0,1.0,1.0,2.0,15.0
funding_total_usd,27874.0,NaN,NaN,NaN,14816520.421073,67759366.559996,291.0,500000.0,2564500.0,11000000.0,5700000000.0
first_milestone_at,91699,4080,2012-01-01,3152,NaN,NaN,NaN,NaN,NaN,NaN,NaN
last_milestone_at,91699,3966,2012-01-01,2937,NaN,NaN,NaN,NaN,NaN,NaN,NaN
milestones,91699.0,NaN,NaN,NaN,1.199402,0.540099,1.0,1.0,1.0,1.0,9.0
relationships,129667.0,NaN,NaN,NaN,2.852067,9.100309,1.0,1.0,1.0,3.0,1189.0
created_by,155533,55329,dhawalarco,10005,NaN,NaN,NaN,NaN,NaN,NaN,NaN
created_at,196553,182851,2008-02-16 00:00:05,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN
updated_at,196553,183558,2012-11-04 00:27:06,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN
lat,83852.0,NaN,NaN,NaN,37.564512,15.477102,-50.942326,34.052234,39.768403,45.42153,77.553604
lng,83852.0,NaN,NaN,NaN,-52.123066,70.049067,-159.497746,-111.940005,-77.036871,-0.127758,176.212549
ROI,726.0,NaN,NaN,NaN,45.745037,572.035638,0.011111,2.648879,6.500497,13.5499,13333.333333

In [5]:
df.isna().mean().sort_values(ascending=False).head(20)

parent_id              1.000000
ROI                    0.996306
first_investment_at    0.986859
last_investment_at     0.986859
investment_rounds      0.986818
invested_companies     0.986818
closed_at              0.986670
short_description      0.963720
funding_total_usd      0.858186
last_funding_at        0.839702
first_funding_at       0.839702
funding_rounds         0.838685
state_code             0.741022
twitter_username       0.589978
tag_list               0.585598
lat                    0.573387
lng                    0.573387
city                   0.573194
country_code           0.552334
founded_at             0.535866
dtype: float64

In [6]:
df['status'].value_counts()

status
operating    183441
acquired       9394
closed         2584
ipo            1134
Name: count, dtype: int64

In [7]:
df = df.rename(columns=str.lower)
df = df.drop(columns=["unnamed: 0.1"])

In [8]:
success = ["acquired", "ipo"]
failure = ["closed"]

df = df[df["status"].str.lower().isin(success + failure)]

df["success"] = df["status"].str.lower().map(
    {s:1 for s in success} | {f:0 for f in failure}
)

In [9]:
date_cols = ["founded_at", "closed_at", "first_funding_at", "last_funding_at"]

for col in date_cols:
    df[col] = pd.to_datetime(df[col], errors="coerce")

In [10]:
df["founded_year"] = df["founded_at"].dt.year
df["closed_year"] = df["closed_at"].dt.year

df["startup_age"] = df["closed_year"] - df["founded_year"]
df["startup_age"] = df["startup_age"].fillna(df["startup_age"].median())

In [11]:
df["log_funding"] = np.log1p(df["funding_total_usd"])